<!DOCTYPE html>
<html lang="en">

  <% include ../includes/head %>

  <body ontouchstart>

    <% include ../includes/headerNavigation %>

    <div class="mainContainer">

      <section class="eventList">
        
        <h1>Update Profile</h1>
        <div class="eventGroup">

          <form id="editProfileForm" action="/profile/edit_profile" method="POST">

            <label for="profileName">Your Name* </label><br />
            <span id="errProfileName" class="error"></span>
            <input
              onkeyup="checkName()"
              id="profileName"
              type="text"
              name="profileName"
              placeholder="Your Name"
              value="<%= user.name %>"
              required
              autofocus />

            <label for="profileEmail">Your Email* </label><br />
            <span id="errProfileEmail" class="error"></span>
            <input
              onkeyup="checkEmail()"
              id="profileEmail"
              type="email"
              name="profileEmail"
              placeholder="Your Email"
              value="<%= user.email %>"
              required />

            <label for="profileAge">Your Age* </label><br />
            <span id="errProfileAge" class="error"></span>
            <input
              onkeyup="checkAge()"
              id="profileAge"
              type="number"
              name="profileAge"
              min="0"
              max="200"
              placeholder="Your Age"
              value="<%= user.age %>"
              required />            
            
            <button id="profileEditButton" type="submit" class="canSubmit">Edit</button>
          </form>


        </div>

      </section>

            <section class="eventList">
        
        <h1>Update Password</h1>
        <div class="eventGroup">
          
          <p class="tip">
            - Must be 8 - 30 characters, include a symbol (! @ # $ % ^ & *), a number, a lower and uppercase.
          </p>
          <br />

          <form id="editPasswordForm" action="/profile/update_password" method="POST">

            <label for="currentPassword">Current Password*</label><br />
            <span id="errPass" class="error"></span>

            <input
              onkeyup="checkCurrentPassword()"
              id="currentPassword"
              type="password"
              name="currentPassword"
              placeholder="Current Password"
              required />

            <label for="newPassword">New Password*</label><br />
            <span id="errNewPass" class="error"></span>
            <input
              onkeyup="checkNewPassword()"
              id="newPassword"
              type="password"
              name="newPassword"
              placeholder="New Password"
              required />

            <label for="newPassword2">Confirm Password*</label><br />
            <span id="errNewPass2" class="error"></span>
            <input
              onkeyup="checkNewPassword2()"
              id="newPassword2"
              type="password"
              name="newPassword2"
              placeholder="New Password again"
              required />
            
            <button id="updatePasswordButton" type="submit" class="canSubmit">Update Password</button>
          </form>


        </div>

      </section>

    </div>

    <% include ../includes/footer %>

    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/profile.js"></script>
  </body>
</html>