<nav class="navigationBar">
  <ul>
    <% if (locals.user){ %>
      <li>
        <a href="/">Event Posts</a>
      </li>
      <li>
        <a href="/create_event">
          <img class="heartIcon" src="/images/iconmonstr-edit-6-icon-48.png" alt="Create Event">
          <span class="navTitles">Create Event</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <img class="heartIcon" src="/images/iconmonstr-user-icon-48.png" alt="Profile">
          <span class="navTitles">Profile</span>
        </a>
      </li>
      <li>
        <a href="/logout">
          <img class="heartIcon" src="/images/iconmonstr-logout-icon-48.png" alt="Logout">
          <span class="navTitles">Logout</span>
        </a>
      </li>
    <% } else { %>
      <li>
        <a href="/">Event Posts</a>
      </li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    <% } %>
  </ul>

</nav>
<div class="message-box">
  <div class="messages">
    <% if (locals.messages['info'][0]){ %>
      <p id="infoFlash" class="info"><%= locals.messages['info'][0] %></p>
    <% } %>
    <% if (locals.messages['error'][0]){ %>
      <p id="errorFlash" class="error"><%= locals.messages['error'][0] %></p>
    <% } %>
  </div>
</div>
